<!-- Wrapper-->
<div id="wrapper" class="gray-bg {{$state.current.name}} full-page-wrapper">

    <!-- Navigation -->
    <!--<div ng-include="'app/components/public/commom/navigation.html'"></div>-->

    <!-- Page wrapper -->
        <!-- <div ng-include="'app/components/public/commom/topnavbar.html'"></div> -->

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
<!--
        <div ng-include="'app/components/public/commom/footer.html'"></div>
-->
   
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
   
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
